<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/images/text-logo.png" />
    <title>Sign Up</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/auth.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="h2 brand-name mb-4">
        <span class="brand-vidy">Vidy</span><span class="brand-ai">AI</span>
      </h1>
      <form id="signupForm" action="/signup" method="post">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Choose a username"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Create a password"
          required
        />
        <button type="submit">Sign Up</button>
        <p class="error" id="error-msg">Email or Username already exists.</p>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
    <script>
      document
        .getElementById("signupForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          // Perform an AJAX request to the server for sign up
          const formData = new FormData(this);
          const response = await fetch(this.action, {
            method: "POST",
            body: formData,
          });

          if (!response.ok) {
            // Show error message if the response is not okay
            document.getElementById("error-msg").style.display = "block";
          } else {
            // Redirect to login page after successful sign up
            window.location.href = "/login";
          }
        });
    </script>
  </body>
</html>
